body {
  background-color: 0B287C;
  font-family: "Courier New";
  background-size: cover;
  color: antiquewhite;
}

.Header {
  color: BlueViolet;
  text-align: center;
}

head {
  color: antiquewhite;
}

a {
  color: #008cba;
}

main {
  text-align: center;
}

.Pictures {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  align-items: center;
}

.picture {
  width: 250px;
  opacity: 50%;
}
